#main {
    padding: 0;
    margin: 0;
    font-family: mulish,sans-serif;
}
.block-banner {
    margin: 0;
}
    .block-banner .block-banner-img {
        height: 100vh;
    }
        .block-banner .block-banner-img img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
.d-sm-block {
    display: block !important;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}

img {
    vertical-align: middle;
    border-style: none;
}
.block-banner .block-banner-desc {
    padding: 2.938rem 0.938rem;
    background-color: #f7f7f7;
}
    .block-banner .block-banner-desc .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #151515;
    }
    .block-banner .block-banner-desc .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #151515;
    }
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.block-banner .block-banner-desc .slogan {
    font-weight: 600;
    margin-bottom: 1rem;
    color: #3a3333;
}
.block-banner .slogan {
    display: block;
    font-size: 1rem;
    line-height: 125%;
}
.block-banner .block-banner-desc svg {
    margin-bottom: 1rem;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}
.block-banner .block-banner-desc h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 133%;
    letter-spacing: .1em;
}
.block-banner .block-banner-desc h3 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 133%;
    letter-spacing: .1em;
}
.block-banner .banner-desc-right {
    display: flex;
}
.block-banner .block-banner-desc .banner-desc-right_content {
    display: flex;
}
.block-banner .banner-desc-right_content .content-center {
    border-right: 1px solid rgba(60,60,60,.2);
}

.block-banner .banner-desc-right_content .content-item {
    padding: 0 3.188rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block-banner .banner-desc-right .content-item h5 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
}
.block-banner .banner-desc-right .content-item p {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
}

p:last-child {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.disclaimer-number {
    color: #1464f4;
}

a {
    outline: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.link-effect {
    display: inline-block;
    position: relative;
}
sup {
    top: -0.5em;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
small {
    font-size: .875rem;
    line-height: 100%;
}

.small, small {
    font-size: .875em;
    font-weight: 400;
}

small {
    font-size: 80%;
}
.block-banner .banner-desc-right_buttons {
    row-gap: 1rem;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.block-banner .banner-desc-right_buttons .btn {
    padding: 1rem 2.719rem;
    width: 100%;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn--border--blue {
    border: 0.063rem solid #1464f4;
}

.btn--animated {
    transition-property: color;
    transition-duration: .5s;
}

.btn--primary--blue {
    color: #fff;
    background: #1464f4;
}

.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    border-radius: 0;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.btn {
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button {
    outline: none;
    border: none;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}
.btn--animated.btn--primary--blue::before {
    background: #fff;
}

.btn--animated::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    z-index: -1;
}
.block-design .block-header {
    margin-bottom: 3rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.text-md-center {
    text-align: center !important;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.block .block-title {
    font-size: 2.75rem;
    line-height: 3.5rem;
    font-weight: 600;
    color: #151515;
    margin-bottom: 1rem;
    vertical-align: inherit;
}
.m-md-auto {
    margin: auto !important;
}
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.block-design .nav-tabs {
    border: none;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
}
.block-design .nav-tabs .nav-item {
    width: fit-content;
    height: fit-content;
    margin-right: 0.5rem;
    overflow: hidden;
    border-radius: 50%;
}
.nav-item.colorExterior1 {
    background: url(https://vinfastauto.us/themes/custom/vinfast_v2/images/v3/vf-8/color/red.webp) no-repeat center center/cover;
}
.nav-item.colorExterior2 {
    background: url(https://vinfastauto.us/themes/custom/vinfast_v2/images/v3/vf-8/color/gray.webp) no-repeat center center/cover;
}
.nav-item.colorExterior3 {
    background: url(https://vinfastauto.us/themes/custom/vinfast_v2/images/v3/vf-8/color/white.webp) no-repeat center center/cover;
}
.nav-item.colorExterior4 {
    background: url(https://vinfastauto.us/themes/custom/vinfast_v2/images/v3/vf-8/color/black.webp) no-repeat center center/cover;
}
.nav-item.colorExterior5 {
    background: url(https://vinfastauto.us/themes/custom/vinfast_v2/images/v3/vf-8/color/silver.webp) no-repeat center center/cover;
}
.block-design .nav-tabs .nav-link.active {
    border: 3px solid #1464f4;
    color: #2d2d2d;
    border-radius: 50%;
}
.tab-color {
    margin-top: 30px;
}
.block-design .nav-tabs .nav-item.show .nav-link, .block-design .nav-tabs .nav-link.active {
    background-color: unset;
}

.block-design .nav-tabs .nav-link {
    padding: 0;
    width: 2rem;
    height: 2rem;
    transition: .4s;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 127%;
    font-weight: 600;
    text-transform: capitalize;
}
.d-md-block {
    display: block !important;
}
.block-design .block-detail {
    display: flex;
}
.block-design .slides {
    display: flex;
}
.block-detail-item {
    display: flex;
    flex-direction: column;
}
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.block-design .block-detail-item img {
    margin-bottom: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

img {
    vertical-align: middle;
    border-style: none;
}
.block-specs {
    padding-top: 4rem;
    padding-bottom: 7rem;
    background-color: #fbfbfb;
}
    .block-specs .field-title {
        margin-bottom: 3.188rem;
        text-align: center;
    }
    .block-specs .container .field-content .field-title h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 55px;
        text-align: center;
        color: #151515;
        margin-bottom: 40px;
        font-family: mulish;
        font-style: normal;
    }
    .block-specs .field-content .tab-content {
        margin: auto;
        margin-bottom: 2.5rem;
    }
        .block-specs .field-content .tab-content .group-title {
            margin-bottom: 1.188rem;
        }
        .block-specs .field-content .tab-content .group-title-desktop {
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        .block-specs .field-content .tab-content .group-title .logo {
            flex: 1;
            padding-right: 3rem;
        }
    .block-specs .tab-content .group-title-desktop div {
        width: calc(100%/3);
    }
    .block-specs .field-content .tab-content .group-title .group-title-desktop .title-type {
        flex: 1;
        font-weight: 600;
        font-size: 1rem;
        line-height: 150%;
        margin: 0;
        color: #151515;
        padding: 0 3rem;
        text-transform: uppercase;
        text-align: center;
        font-family: mulish;
    }

    .block-specs .tab-content .group-title-desktop div {
        width: calc(100%/3);
    }
    .block-specs .field-content .tab-content .main-content {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 auto;
        list-style: none;
        border: 1px solid rgba(60,60,60,.1);
    }
        .block-specs .field-content .tab-content .main-content li.active {
            padding-top: 0;
        }

        .block-specs .field-content .tab-content .main-content li:last-child {
            border-bottom: unset;
        }

        .block-specs .field-content .tab-content .main-content li {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            margin: 0 auto;
            border-bottom: 1px solid rgba(60,60,60,.1);
        }
            .block-specs .field-content .tab-content .main-content li .spec-detail-content {
                position: relative;
                display: flex;
                width: 100%;
                height: auto;
                margin: 0;
                padding-bottom: 0;
                display: flex;
            }
.d-md-flex {
    display: flex !important;
}
.block-specs .field-content .tab-content .main-content li .spec-detail-content ul.title {
    padding: 2rem 3.063rem 2rem 2rem;
}

.block-specs .field-content .tab-content .main-content li .spec-detail-content .title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 201%;
    color: #151515;
}

.block-specs .field-content .tab-content .main-content li .spec-detail-content ul {
    width: calc(100%/3);
    padding: 2rem;
    border-right: 1px solid rgba(60,60,60,.1);
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
.block-specs .field-content .tab-content .main-content li .spec-detail-content li {
    border-bottom: unset;
    padding: 0;
    color: #151515;
    font-family: mulish;
}

.block-specs .field-content .tab-content .main-content li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-bottom: 1px solid rgba(60,60,60,.1);
}
    .block-specs .field-content .tab-content .main-content li .spec-detail-content .detail {
        font-weight: 600;
        font-size: 1rem;
        line-height: 201%;
        color: #151515;
    }

    .block-specs .field-content .tab-content .main-content li .spec-detail-content ul {
        width: calc(100%/3);
        padding: 2rem;
        border-right: 1px solid rgba(60,60,60,.1);
    }
        .block-specs .field-content .tab-content .main-content li .spec-detail-content ul:last-child {
            border-right: unset;
        }

    .block-specs .field-content .tab-content .main-content li .spec-detail-content .detail {
        font-weight: 600;
        font-size: 1rem;
        line-height: 201%;
        color: #151515;
    }

    .block-specs .field-content .tab-content .main-content li .spec-detail-content ul {
        width: calc(100%/3);
        padding: 2rem;
        border-right: 1px solid rgba(60,60,60,.1);
    }
.block-specs .field-button .btn--primary--blue {
    margin-right: 1.5rem;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn--border--blue {
    border: 0.063rem solid #1464f4;
}

.btn--animated {
    transition-property: color;
    transition-duration: .5s;
}

.btn--primary--blue {
    color: #fff;
    background: #1464f4;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    border-radius: 0;
    border: none;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
}
