.heading {
    top: 20px !important;
}
.form{
    top:80px;
    gap:10px;
}
.form-group{
}
.icon-field {
    top: 30%;
    width: 20%;
    left:2.77%;
    font-weight:500;
    height:35%;

}
.inputfield {
    top: 20%;
    left:24%;
    width:70%;
    height:45%;
}
.user-label{
    color:black;
    width:50%;
    margin-top:5px;
    margin-left:5px;
}
.rectangle{
    height:80%;
    margin-top:0px;
}