.heading {
    top: 20px !important;
}
.form{
    top:120px;
    gap:25px;
}
.form-group{
    padding-top:20px;
}
.icon-field {
    top: 30%;
    width: 20%;
    left:2.77%;
    font-weight:500;
    height:35%;

}
.inputfield {
    top: 20%;
    left:23%;
    width:70%;
    height:45%;
}
.user-label{
    color:black;
    width:50%;
    margin-top:5px;
    margin-left:5px;
}
.rectangle{
    height:80%;
    margin-top:0px;
}
.div6{
    width:70% !important;
    top:23% !important;
    left:24% !important;
}