<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-qDO/x6xIoArJ+xTl1jj2BKNT8RHO5FPgQajV/DJZWfToRhT9sr+Sq5SEolJz7bZ5tvItVsL/LcbA9t+L2x56LcA==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" target="_blank" href="~/Content/css/navbar.css" />
    <script src="~/Content/js/script.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">
                <a href="~/Home/Index">
                    <img src="~/Assests/logo.jpg" alt="Logo" />
                </a>

            </div>
            <ul>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Car</a>
                </li>
                <li>
                    <a href="~/ServiceOrder/Home">Aftersales services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <div class="box-car-head">
                <a class="account" id="accountLink" href="#">Account</a>
                <a class="button" id="preOrderLink" href="~/PreOrder/Index">Pre Order</a>
                <div class="block-megamainmenu desktop-hover" data-toggle="sidebar" data-target=".sidebar-right">
                    <div id="menu-side-right" class="we-mega-menu-li">
                        <div id="nav-icon-region">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
