@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 5px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
    background-color: white;
}

    nav .logo {
        display: flex;
        align-items: center;
    }

        nav .logo img {
            height: 50px;
            width: 50px;
            width: auto;
            margin-right: 10px;
            background-color: white;
            border-radius: 50%;
            -webkit-text-fill-color: transparent;
        }

    nav ul {
        list-style: none;
        display: flex;
        position: absolute;
        justify-content: center;
        padding-top:18px;
        align-items: center;
        margin-left: 8%;
    }

        nav ul li {
            margin-left: 1.5rem;
        }

            nav ul li a {
                position: relative;
                text-decoration: none;
                color: #3c3c3c;
                font-size: 20px;
                padding: 4px 8px;
                border-radius: 5px;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 150%;
                -webkit-transition: .3s;
                transition: .3s;
                letter-spacing: -.02em;
                white-space: nowrap;
                cursor: pointer;
            }

                nav ul li a:hover {
                    color: #2c72c6;
                }

                nav ul li a::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 1.3px;
                    bottom: -20px;
                    left: 0;
                    background-color: #1464f4;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.3s;
                    opacity: 0;
                }

                nav ul li a:hover::after {
                    width: 100%;
                    transform: scaleX(1);
                    opacity: 1;
                }


                nav ul li a:hover::after {
                    width: 100%;
                    opacity: 1;
                }
.box-car-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .box-car-head a {
        text-decoration: none;
    }
.language {
    color: #3c3c3c;
}
    .language:hover {
        color: #2c72c6;
    }
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-globe:before {
    content: "\f0ac";
}
#header-language .navbar-toggle-language span {
    text-transform: uppercase;
}
.account {
    margin-left:30px;
    color: #3c3c3c;
}

    .account:hover {
        color: #2c72c6;
    }

.button {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    margin-left: 0px;
    gap: 10px;
    width: 170px;
    background: #1464f4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    transition-duration: 0.4s;
    color: white;
    height: auto;
}

    .button:hover {
        background-color: white;
        color: #1464f4;
        border: 1px solid #1464f4;
    }

.block-megamainmenu desktop-hove {
    margin-right: 0px;
}

.mega_menu_header.mega-main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    list-style: none;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    align-items: center;
    margin-top:18px;
}

.box-car-head div#menu-side-right {
    position: relative;
    margin-left: 30px;
    border-radius: 3px;
    padding: 10px;
}

#nav-icon-region {
    width: 20px;
    height: 13px;
    position: relative;
    cursor: pointer;
}

    #nav-icon-region span:nth-child(1) {
        top: 0;
    }

    #nav-icon-region span:nth-child(2) {
        top: 5.5px;
    }

    #nav-icon-region span:nth-child(3) {
        bottom: 0;
    }

    #nav-icon-region span:last-child {
        width: 100%;
    }

    #nav-icon-region span:nth-child(3) {
        bottom: -1px !important;
    }

    #nav-icon-region span {
        display: block;
        position: absolute;
        height: 0;
        width: 100%;
        border-bottom: 2px #1f2125 solid;
        border-radius: 0;
        opacity: 1;
        left: 0;
    }
.separator {
    border-right: 1.5px solid #1464f4;
    margin-left: 30px;
    height: 1.6rem
}

.mega-main-menu > li.active > a, .mega_menu_header.mega-main-menu > li.mega_menu_active > a {
    color: #2c72c6;
}

.mega-main-menu > li.active > a, .mega_menu_header.mega-main-menu > li.mega_menu_active > a {
    color: #1464f4;
}
.mega-main-menu > li.active .mega_menu, .mega_menu_header.mega-main-menu > li.mega_menu_active .mega_menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 100;
    overflow: auto;
    max-height: 240px;
    border-top: 2px solid #d9e1e2;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.mega-main-menu > li.active .mega_menu, .mega_menu_header.mega-main-menu > li.mega_menu_active .mega_menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    z-index: 100;
    overflow: auto;
    max-height: 240px;
    border-top: 2px solid #d9e1e2;
    box-sizing: content-box;
}

    #megaMenuVehicles.visible {
        opacity: 1;
        pointer-events: auto; 
    }
.mega_menu_container {
    max-width: 100% !important;
    padding: 30px;
}
.hd-mega {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
#header .pc-header nav {
    border-radius: 5px;
    background-color: transparent;
    float: left;
    display: flex;
    align-items: center;
}

.mega_menu .nav-tabs {
    -webkit-box-align: center;
    align-items: center;
    border: none;
}

.mega_menu .nav-tabs .nav-link:not(:last-child) {
    margin-right: 50px;
}
    .mega_menu .nav-tabs .nav-link.active-tab {
        color: #1464f4;
        font-size: 16px;
    }
    .mega_menu .nav-tabs .nav-link {
        border: none;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        text-transform: uppercase;
        padding: 0;
    }
.mega_menu .nav-tabs .nav-link {
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 125%;
    color: #3c3c3c;
    text-transform: uppercase;
    padding: 0;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    background-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.mega-main-menu > li.active .mega_menu .tab-content, .mega_menu_header.mega-main-menu > li.mega_menu_active .mega_menu .tab-content {
    padding: 48px 0 0;
}

.mega-main-menu .tab-content {
    box-shadow: none;
    outline: none;
    border: none;
}

.mega-main-menu > li.active .mega_menu .fade.show, .mega_menu_header.mega-main-menu > li.mega_menu_active .mega_menu .fade.show {
    visibility: visible;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.justify-content-center {
    justify-content: center !important;
}
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mega-main-menu > li .mega_menu .tab-content .tab-pane a.img {
    transition: opacity 750ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5rem;
}
.mega-main-menu > li .mega_menu .tab-content .tab-pane a.img .img-mega-menu {
    max-width: 270px;
    width: 100%;
}

.mega_menu .item_name {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: #007bff;
    margin-top: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.mega-main-menu > li .mega_menu .tab-content .tab-pane a.img .img-mega-menu-hover {
    display: none;
}
.mega-main-menu > li:hover .mega_menu,
.mega_menu_header.mega-main-menu > li:hover .mega_menu,
.mega-main-menu > li.active .mega_menu,
.mega_menu_header.mega-main-menu > li.mega_menu_active .mega_menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    z-index: 100;
    overflow: auto;
    max-height: 240px;
    border-top: 2px solid #d9e1e2;
    box-sizing: content-box;
}
.navmenu{
    height:40px;
}
.card .view-more a {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 15px;
    text-transform: uppercase;
    transition: color 0.4s;
    color: #1464f4;
    display: inline-block;
}

.btn-view {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 10px;
    margin-left: 20px;
    background: #1464f4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: background-color 0.4s, color 0.4s;
    color: white;
    text-decoration: none;
}

.btn-view:hover {
        background-color: transparent;
        color: #1464f4;
    }
#megaMenuVehicles {
    position: fixed;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    transform: translateY(-2px) translateX(35%);
    z-index: 99;
    background: #fff;
    box-shadow: 0 3px 6px #00000029;
    left: 0;
    pointer-events: none;
}

.vehicles:hover #megaMenuVehicles,
.vehicles:focus #megaMenuVehicles {
    visibility: visible;
    opacity: 1;
    z-index:100;
    transition:none;
}