
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@Styles.Render("~/Content/css/servicehome.css")
<div id="main" class="main clearfix">
    <div id="block-banner" class="block-banner block">
        <div class="field-header">
            <div class="container">
                <h1 class="field-title">
                    The VinFast ownership
                    <br>
                    experience
                </h1>
                <p class="field-desc field-header-desc col-12 col-md-7 col-lg-6 p-0">
                    Live more. Worry less. Experience EV ownership the
                    <br class="d-none d-xl-block">
                    way it should be.
                </p>
            </div>
        </div>
        <div class="field-img">
            <img class="d-none d-lg-block" src="https://vinfastauto.us/themes/custom/vinfast_v2/images/v3/aftersales/banner.webp" data-cookiecategory="646">
        </div>
    </div>
    <div id="block-benefits" class="block-benefits block">
        <div class="container">
            <div class="field-header">
                <h2 class="field-title">
                    VinFast ownership benefits
                </h2>
                <p class="field-desc col-12 col-md-7 col-lg-6 p-0">
                    VinFast’s vehicle maintenance, an extended warranty, and ample customer service are designed to keep customers satisfied every step of the way.
                </p>
            </div>
        </div>
    </div>
</div>