.aboutSwiper .vision {
	position: relative;
}

.aboutSwiper .swiper-wrapper, .aboutSwiper .swiper-slide {
	background: #fff;
}

.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}

.cs-subheader.center {
	text-align: center;
	background: url(/Assests/extra-images/about.png) no-repeat 0 0 /cover;
	min-height: 600px;
	padding: 90px 0 0;
	margin-bottom: 70px;
}


.aboutSwiper .vision #block-visionvinfast .parallax-bg {
	position: relative;
	height: var(--swiper-height);
}
.vision-content {
	bottom: 40px;
}
.aboutSwiper .vision #block-visionvinfast .parallax-bg {
	position: relative;
	height: var(--swiper-height);
}

.aboutSwiper .vision .parallax-bg {
	position: relative;
	height: var(--swiper-height);
}

.aboutSwiper .vision .parallax-bg {
	padding-top: 0;
}

#block-visionvinfast .container {
	padding-bottom: 20px;
	padding-top: 20px;
}

#block-visionvinfast .container {
	position: relative;
	max-width: 1290px;
	width:100%;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 70px;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

#block-visionvinfast .containner-inner {
	position: relative;
	width: 100%;
	height: 100%;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
	content: " ";
	display: table;
}

#block-visionvinfast .vision-content {
	display: flex;
	flex-wrap: wrap;
	transform: unset;
	grid-template-columns: unset;
	gap: unset;
	top: auto;
	bottom: 110px;
	left: 0;
	width: 100%;
	z-index: 2;
}

.aboutSwiper .vision .vision-content {
	position: absolute;
	top: 0;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 1.5625vw;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}
.vision-content-item:nth-child(odd) {
	width: 30%;
}

.vision-content-item {
	transform: unset;
	padding: 0 40px;
	width: 20%;
	background: unset;
	height: auto;
	display: block;
	margin-top: 0 !important;
	position: relative;
}

#block-visionvinfast img {
	height: 100%;
	height: calc(100% - 120px);
	width:100%;
	top: 50px;
	bottom: 70px;
}

.aboutSwiper .vision img {
	width: 100%;
	height: 100vh;
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
}

.vision-pc {
	display: block;
}

img {
	height: auto;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

img {
	vertical-align: middle;
	border-style: none;
}
#block-visionvinfast p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #979797;
}

.cs-subheader .cs-page-title p {
	font-weight: 700;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 24px;
	margin: 0 0 10px;
}
#block-visionvinfast .vision-content-item:after {
	content: '';
	width: 1px;
	height: 100%;
	background: rgba(217,225,226,.2);
	position: absolute;
	top: 0;
	right: 0;
}
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
	clear: both;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
	content: " ";
	display: table;
}
#block-visionvinfast h2 {
	font-weight: 300 !important;
	font-size: 20px !important;
	line-height: 1.25 !important;
	color: #fff !important;
	margin-bottom: 16px !important;
}
#block-visionvinfast .vision-content {
	bottom: 40px;
	position: absolute;
}
#block-visionvinfast .container:after {
	content: '';
	display: block;
	position: absolute;
	height: 500px;
	left: 0;
	bottom: 70px;
	background: linear-gradient(180deg,rgba(0,0,0,0) 0%,#000000 100%);
	width: 100%;
	z-index: 1;
}
h2 {
	font-weight: 500 !important;
	font-size: 20px !important;
	line-height: 1.25 !important;	
	margin-bottom: 16px !important;
}
.btn--border--blue {
	border: 1px solid #1464f4;
}

.btn--animated::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition-property: transform, background-color, color;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	z-index: -1;
}

.btn--animated:hover::before {
	transform: scaleX(1);
}


.btn--primary--blue {
	color: #fff;
	background: #1464f4;
	transition-property: color;
}



.btn {
	border-radius: 6px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn {
	box-sizing: border-box;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px 24px;
	margin-left: 0px;
	gap: 10px;
	width: 170px;
	background: #1464f4;
	border-radius: 3px;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	letter-spacing: .1em;
	text-transform: uppercase;
	transition-duration: 0.4s;
	color: white;
	height: auto;
	z-index: 1;
}

.btn--animated.btn--primary--blue::before {
	background: #fff;
}

.btn--animated.btn--primary--blue:hover {
	color: #1464f4;
	border: 1px solid #1464f4;
}	


[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: button;
}

.button, .image-button {
	margin-right: 1em;
	margin-left: 1em;
}

[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: button;
}

button, input {
	overflow: visible;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button, input {
	overflow: visible;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
.cs-column-text ul.cs-icon-list li {
	padding-left: 10px !important;
	font-weight: 600 !important;
}
.cs-column-text ul.cs-icon-list li img {
	margin-right: 20px;
	width: 20px !important;
	height: 20px !important;
}
.cs-counter .cs-media i {
	color: #1464f4 !important;
}
.panel-group.box .panel-title a {
	color: black !important;
}