@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoMobile</title>
    <link href="~/Assests/css/bootstrap.css" rel="stylesheet">
    <link href="~/Assests/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Assests/css/iconmoon.css" rel="stylesheet">
    <link href="~/Assests/css/chosen.css" rel="stylesheet">
    <link href="~/Assests/css/style.css" rel="stylesheet">
    <link href="~/Assests/css/cs-automobile-plugin.css" rel="stylesheet">
    <link href="~/Assests/css/color.css" rel="stylesheet">
    <link href="~/Assests/css/widget.css" rel="stylesheet">
    <link href="~/Assests/css/responsive.css" rel="stylesheet">
    <link href="~/Content/css/home/contact.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Assests/scripts/jquery.js"></script>
    <script src="~/Assests/scripts/modernizr.js"></script>
    <script src="~/Assests/scripts/bootstrap.min.js"></script>
</head>
<body class="wp-automobile">
    <div class="wrapper">
        <div class="cs-subheader left" style="background: url(/Assests/extra-images/contact.png) no-repeat 0 0 /cover; min-height: 296px; padding: 90px 0 0; margin-bottom: 50px; ">
            <div class="container">
                <div class="cs-page-title">
                    <h1 style="color:#fff !important;">Get in touch</h1>
                    <p style="color:#fff; margin-top:50px;">If you think we might be a good fit for a project you’re working on and you’d like to get the<br /> feel of how we can work together please contact us using contact data.</p>
                </div>
            </div>
        </div>
        <!-- Main Start -->
        <div class="main-section">
            <div class="page-section" style=" padding-top:20px; padding-bottom:10px; ">
                <div class="container">
                    <div class="row">
                        <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <!--Element Section Start-->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="cs-contact-info left">
                                        <div class="cs-media"><i class="fa fa-map" aria-hidden="true"></i></div>
                                        <div class="cs-text">
                                            <h6>Contact Info</h6>
                                            <p>
                                                AutoCar inc. Address
                                                No 8, Tran Khat Chan 8 Street, Viet Hung Ward, Hai Ba Trung District, Ha Noi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="cs-contact-info left">
                                        <div class="cs-media"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                                        <div class="cs-text">
                                            <h6>Emaill Address</h6>
                                            <p>
                                                <a href="#">info@automocar.com</a>
                                                <a href="#">email@autocar.com</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="cs-contact-info left">
                                        <div class="cs-media"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
                                        <div class="cs-text">
                                            <h6>Phone Numbers</h6>
                                            <p>
                                                <span>Telephone: 1900 23 23 89</span>
                                                <span>Fax: 281-290-4755</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="cs-contact-info left">
                                        <div class="cs-media"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                        <div class="cs-text">
                                            <h6>Office Timings</h6>
                                            <p>
                                                <span>WEEK DAYS: 05:00 – 22:00</span>
                                                <span>SATURDAY: 08:00 – 18:00</span>
                                                <span>SUNDAY: CLOSED</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cs-seprater" style="text-align:center;"> <span> <i class="icon-transport177"> </i> </span> </div>
                                <!--Element Section End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-section" style="padding-top:40px; padding-bottom:60px;">
                <div class="container">
                    <div class="row">
                        <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <!--Element Section Start-->
                                <div class="cs-contact-form">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <div class="cs-section-title">
                                            <h3 style="text-transform:uppercase !important;">GET IN TOUCH WITH US</h3>
                                            <p style="text-transform:uppercase;font-size:11px;color:#999999 !important; font-weight:600;">
                                                Connect with us to explore a world of possibilities.  <br />Whether you have inquiries, want to schedule a test drive, or simply wish to discuss your automotive needs, our team is ready to assist you.
                                                <br /> Your journey with us begins by reaching out—let's start a conversation and make your automotive dreams a reality.
                                            </p>
                                        </div>
                                    </div>
                                    <form>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="cs-form-holder">
                                                        <div class="input-holder"><input type="text" placeholder="Full Name"><i class="fa fa-user" aria-hidden="true"></i></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="cs-form-holder">
                                                        <div class="input-holder"><input type="text" placeholder="Email Address"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="cs-form-holder">
                                                        <div class="input-holder"><input type="text" placeholder="Phone Number"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="cs-form-holder">
                                                        <div class="input-holder" id="data-toggle">
                                                            <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Subscribe and Get latest updates and offers by Email</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="cs-form-holder">
                                                        <div class="input-holder">
                                                            <textarea placeholder="I am interested in a price quote on this vehicle. Please contact me at you earliest convenience with your best price for this vehicle"></textarea><i></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="cs-btn-submit cs-color">
                                                        <input type="submit" value="Contact Dealer">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--Element Section End-->
                    </div>
                </div>
            </div>
            <div class="page-section" style=" margin-bottom:0px;">
                <div class="container">
                    <div class="row">
                        <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="maps loader">
                                        <iframe height="350" frameborder="0" allowfullscreen="" style="border: 0px none; width: 100%; pointer-events: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85325.03550975422!2d-1.957436106486313!3d53.45954307751346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2sUnited+Kingdom!5e0!3m2!1sen!2s!4v1455785475576"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main End -->
    </div>
    <script src="~/Assests/scripts/responsive.menu.js"></script>
    <script src="~/Assests/scripts/chosen.select.js"></script>
    <script src="~/Assests/scripts/slick.js"></script>
    <script src="~/Assests/scripts/echo.js"></script>
    <!-- Put all Functions in functions.js -->
    <script src="~/Assests/scripts/functions.js"></script>
</body>

</html>