
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@Styles.Render("~/Content/css/home/index.css")
@Scripts.Render("https://unpkg.com/swiper/swiper-bundle.min.js")
@Scripts.Render("~/Content/js/home/index.js")

<div id="main" class="main clearfix">
    <div id="block-home-banner" class="block-home-banner">
        <div class="swiper swiper-home-banner swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-dfc1abd1d13631099" aria-live="off">
                <div id="swiper-slide-top-banner-5" class="swiper-slide slide-item swiper-slide-duplicate swiper-slide-duplicate-active">
                    <div class="field-image">
                        <img src="https://vinfastauto.com/themes/porto/img/homepage-v2/banner/banner-vf-9.webp">
                    </div>
                    <a href="https://vinfastauto.com/themes/porto/img/homepage-v2/banner/banner-vf-7.webp">
                        <h2>VINFAST - UNLEASHING THE FUTURE OF MOBILITY</h2>
                        <div class="over-lay"></div>
                    </a>
                </div>
                <div id="swiper-slide-top-banner-1" class="swiper-slide slide-item swiper-slide-duplicate-next" data-id="1" data-swiper-slide-index="0" role="group" aria-label="1 / 5">
                    <div class="field-image">
                        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/gateway/ownership/over/gate_ownership_over_01_0.jpg">
                    </div>
                    <a href="https://vinfastauto.com/themes/porto/img/homepage-v2/banner/banner-vf-7.webp;utm_medium=cpc&amp;utm_campaign=ra_mat_vf7&amp;utm_content=kv">
                        <h2>LAMBORGHINI - POWER UNLEASHED THROUGH SPEED</h2>
                        <div class="over-lay"></div>
                    </a>
                </div>
                <div id="swiper-slide-top-banner-2" class="swiper-slide slide-item" data-id="4" data-swiper-slide-index="1" role="group" aria-label="2 / 5">
                    <div class="field-image">
                        <img src="https://tmna.aemassets.toyota.com/is/image/toyota/lexus/images/models/lc/2024/promo/inspiration/Lexus-LC-Inspiration-Series-hero-overlay-desktop-1920x795-LEX-LC5-MY23-0179.jpg?wid=1920&hei=795">
                    </div>
                    <a href="https://vinfastauto.com/vn_vi/chinh-thuc-ra-mat-VinFast-VF-6">
                        <h2>LEXUS - UNLEASHING THE SPLENDOUR OF CLASS<br /></h2>
                        <div class="over-lay"></div>
                    </a>
                </div>
                <div id="swiper-slide-top-banner-3" class="swiper-slide slide-item" data-id="2" data-swiper-slide-index="2" role="group" aria-label="3 / 5">
                    <div class="field-image">
                        <img src="https://cdn.ferrari.com/cms/network/media/img/resize/5ceea8b380b248729778ddec-d-pacchettofiorano">
                    </div>
                    <a href="https://vinfastauto.com/vn_en/vinfast-vf-9-has-epa-rated-battery-ranges-of-330291-miles-ecoplus-trim">
                        <h2>FERRARI - THRILLING PERFORMANCE, TIMELESS ELEGANCE</h2>
                        <div class="over-lay"></div>
                    </a>
                </div>
                <div id="swiper-slide-top-banner-4" class="swiper-slide slide-item swiper-slide-prev" data-id="3" data-swiper-slide-index="3" role="group" aria-label="4 / 5">
                    <div class="field-image">
                        <img src="https://www.mercedes-benz.com.vn/content/vietnam/vi/passengercars/services/maintenance/_jcr_content/root/responsivegrid/simple_stage.component.damq5.3343176614318.png/img-mod-stage-wartung.png" alt="Service">
                    </div>
                    <a href="https://vinfastauto.com/vn_en/vinfast-breaks-ground-at-north-carolina-electric-vehicle-facility">
                        <h2>ENJOY PEACE OF MIND AFTER YOUR PURCHASE. <br /> From maintenance to responsive service, we've got you covered</h2>                   
                        <div class="over-lay"></div>
                    </a>
                </div>
            </div>
            <div class="slide-content-navigation">
                <div class="container-fluid">
                    <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-dfc1abd1d13631099">
                        <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect y="0.5" width="48" height="48" rx="24" fill="#F8F8F8" fill-opacity="0.2"></rect>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7992 19.1667L22.4659 24.5L27.7992 29.8333L26.6678 30.9647L20.2031 24.5L26.6678 18.0353L27.7992 19.1667Z" fill="white"></path>
                        </svg>
                    </div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-dfc1abd1d13631099">
                        <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect y="0.5" width="48" height="48" rx="24" fill="#F8F8F8" fill-opacity="0.1"></rect>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.3345 18.0353L27.7992 24.5L21.3345 30.9647L20.2031 29.8333L25.5365 24.5L20.2031 19.1667L21.3345 18.0353Z" fill="white"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 5" aria-current="true"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
@*    <div id="block-service">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="card">
                        <div class="card-content">
                            <div class="field-title">Bảo hành &amp; Dịch vụ</div>
                            <div class="field-desc">VinFast đã đầu tư nghiêm túc và bài bản để phát triển hệ thống Showroom, Nhà phân phối và xưởng dịch vụ rộng khắp, đáp ứng tối đa nhu cầu của Khách hàng.</div>
                            <div class="field-view-more">
                                <a href="https://shop.vinfastauto.com/vn_vi/dat-lich-dich-vu.html" class="btn btn--animated btn--border--blue btn--primary--blue" onclick="gtag_custom_link(this);">Đặt lịch bảo dưỡng</a>
                                <a href="/vn_vi/thong-tin-bao-hanh" class="btn btn--animated btn--border--blue btn--primary--white" onclick="gtag_custom_link(this);">Chính sách</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div id="block-join-the-charge" class="block-join-charge">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div id="communication-preference-form-wrapper">
                        <form class="communication-preference-form" data-drupal-selector="communication-preference-form" action="/vn_en" method="post" id="communication-preference-form" accept-charset="UTF-8">
                            <p>Subcribe To Our Newsletter</p>
                            <p class="desc-1">Sign up to receive information about AutoCar promotions and services.</p>
                            <div class="d-block user-input">
                                <div class="js-form-item form-item js-form-type-email form-type-email js-form-item-email form-item-email form-no-label">
                                    <input class="form-control form-email required" placeholder="Enter your email addresss" autocomplete="off" data-drupal-selector="edit-email" type="email" id="edit-email" name="email" value="" size="60" maxlength="255" required="required" aria-required="true">
                                </div>
                                <input class="btn btn-primary btn-submit-form button js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Subscribe" onclick="gtag_custom_submit(this);">
                            </div>
                            <div class="error wrong-email-format"></div>
                            <div class="subcribe-success d-none">You have successfully registered for email.</div>
                            <p class="desc-2">By registering, you confirm that you have read, understood and agreed to AutoCar's <a href="/vn_en/dieu-khoan-phap-ly" target="_blank" onclick="gtag_custom_link(this);">Privacy Policy</a>.</p>
                            <input id="recaptcha-v3-token" class="recaptcha-v3-token" data-recaptcha-v3-action="captcha" data-recaptcha-v3-site-key="6Lcfbd4ZAAAAAN6cGzaskOw2AYFQPqxVlxHViEqv" data-drupal-selector="edit-captcha-response" type="hidden" name="captcha_response" value="">
                            <input autocomplete="off" data-drupal-selector="form-bp3oje1uc0t9cux0r9savp8tsv5c9qg9kxktqi66-v0" type="hidden" name="form_build_id" value="form-bP3oje1uC0t9cuX0r9saVp8TSV5C9qG9KXKTQI66-v0">
                            <input data-drupal-selector="edit-communication-preference-form" type="hidden" name="form_id" value="communication_preference_form">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  